::selection {
	background-color: #e13300;
	color: white;
}
::-moz-selection {
	background-color: #e13300;
	color: white;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Raleway", sans-serif;
	background-color: #191919;
	display: flex;
	flex-flow: column;
	height: 100vh;
}

header {
	display: flex;
}

header.header {
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: 0px 10px 30px 10px;
}

.header .header-logo {
	width: 30%;
	padding: 40px 0px;
}

.header .header-sub {
	color: #ffffff;
	font-weight: 100;
	font-size: 1.5rem;
}

.title {
	padding: 20px 60px;
	font-size: 2rem;
}

.title span {
	padding-bottom: 10px;
	color: #fff;
	font-weight: 900;
	text-transform: uppercase;
	border-bottom: thin solid #fd3333;
}

.button-group {
	display: flex;
}

.navigation-icon {
	font-size: 3rem;
	color: #ffffff;
	cursor: pointer;
	padding: 10px 15px;
	transition: all 0.3s;
}

.navigation-icon.absolute {
	font-size: 2rem;
	position: absolute;
	top: 15px;
	right: 25px;
}

.navigation-icon.absolute-form {
	font-size: 3rem;
	position: absolute;
	top: 15px;
	left: 25px;
}

.navigation-icon:hover {
	color: #fd3333;
}

.tip {
	color: #191919;
	background-color: #adafb2;
	padding: 12px;
	width: fit-content;
	font-size: 1rem;
	font-weight: 600;
	margin: 10px 20px;
}

.tip i {
	font-size: 1.4rem;
	padding: 10px;
}

div.error {
  font-size: 1rem;
  font-weight: 600;
  background-color: #fd3333;
  padding: 10px 20px;
}

div.error.absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.error.inline {
  background: none;
  color: #fd3333;
}

div.error span{
  display: block;
  margin: 5px 0px;
  color: #ffffff;
}

/* #endregion Footer Section */

@media screen and (max-width: 950px) {
	header.header {
		padding: 15px 0px;
	}

	.title {
		padding: 0px;
		text-align: center;
		font-size: 1.4rem;
	}

	.header .header-sub {
		display: none;
	}

	.header .header-logo {
		width: 40%;
		padding: 10px 0px;
	}
	.tip {
		display: none;
	}

	.navigation-icon {
		display: none;
	}
}
