footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fd3333;
	height: 80px;

	font-size: 1rem;
	font-weight: 500;
	color: #ffffff;
}

@media screen and (max-width: 950px) {
	footer {
		font-size: 0.8rem;
		height: 40px;
		font-weight: 600;
	}
}
